@import "materialize";

.right{
    padding-left: 10px;
}

.course_heading{
    color: #ffab40;
}
.sign-up-title{
    color: #26a69a;
}
.sign-up-form{
    padding-top: 5%;
}

.course-title{
    color: #ffab40;
    margin-top: 50px;
}